body {
    font-family: 'Poppins', sans-serif;
}
.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
    border-radius: 20px;
    padding: 8px 20px;
}
.btn-daftar {
    background-color: #4CA5F0;;
    color: white;
    border-radius: 20px;
    padding: 8px 20px;
}

.navbar {
    padding: 15px 0;
    background-color: white;
}

.navbar-brand {
    font-weight: bold;
}
  
.hero-title {
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
     font-size: 2.5rem;
      margin-bottom: 20px;
}

.hero-section {
     padding: 50px 0;
}

.hero-description{
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.section {
    margin-bottom: 40px;
}

.card h5 {
    font-weight: bold;

}

.card {
    background-color: #60B5FF;
}

.footer {
    background-color: #1a254b;
    color: white;
    padding: 50px 0 20px;
}

.footer-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    color: #3498db;
}

.contact-info {
    margin-bottom: 15px;
    display: flex;
    align-items: start;
}

.contact-info i {
    margin-right: 10px;
    color: #3498db;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.1);
    margin-top: 30px;
}

.logo-img {
    width: 100%;
    max-width: 200px;
}
